*{
  box-sizing: border-box;
}
body{
  background-color:grey
}
input{
  padding: .8em;
  margin-bottom: 15px;
}
.section{
max-width: 400px;
margin: auto;
padding: 3%;
text-align: center;

background-color:lightslategray;
}
.title::before,
.title::after{
  content: "";
  display: inline-block;
  height: 2px;
  width: 115px;
  background-color:rgb(48, 245, 87);
  transform: translateY(-5px);
  box-sizing:border-box
}
.title::before{
margin-right: 13px;
}
.title::after{
  margin-left: 13px;
}
.form {
  display: flex;
  flex-direction: column;
}
.fullname{
display: flex;
justify-content: space-between;
margin-top: 15px;
}
::placeholder{
  text-transform: capitalize;
}
.fullname>*{
flex-basis: 47%;
}
label{
  text-align: left;
}
.sing-in{
  text-align: center;
}